* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
}
h1 {
  display: inline;
  background-color: rgb(29, 34, 38);
}

header {
  height: 50px;
  background-color: rgb(29, 34, 38);
  margin-bottom: 30px;
  padding: 0px 400px;
  color: white;
}

.container {
  gap: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.leftAsideSection,
.mainSection,
.rightAsideSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.leftAsideSection div,
.mainSection div,
.rightAsideSection div {
  border-radius: 10px;
}

.leftAsideSection {
  width: 225px;
}

.mainSection {
  width: 540px;
}

.rightAsideSection {
  width: 315px;
}

.userProfile {
  background-color: rgb(29, 34, 38);
  height: 370px;
}

.userCompany {
  background-color: rgb(29, 34, 38);
  height: 150px;
}

.createNewPost {
  background-color: rgb(47, 49, 54);
  height: 120px;
}

.mainFeed {
  background-color: rgb(47, 49, 54);
  height: 100vh;
}

.linkedInNews {
  background-color: rgb(41, 43, 47);
  height: 320px;
}

.moreInfo {
  margin-left: 57.5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  line-height: 1;
  width: 200px;
}

.moreInfo a,
li {
  text-decoration: none;
  color: white;
  list-style-type: none;
}

.moreInfo a span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
