* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
}

header {
  height: 50px;
  background-color: rgb(29, 34, 38);
  margin-bottom: 30px;
  padding: 0px 300px;
}

.container {
  gap: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.leftAsideSection,
.mainSection,
.rightAsideSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.leftAsideSection div,
.mainSection div,
.rightAsideSection div {
  border-radius: 10px;
}

.leftAsideSection {
  width: 225px;
}

.mainSection {
  width: 540px;
}

.rightAsideSection {
  width: 315px;
}

.userProfile {
  background-color: rgb(29, 34, 38);
  height: 370px;
}

.userCompany {
  background-color: rgb(29, 34, 38);
  height: 150px;
}

.createNewPost {
  background-color: rgb(47, 49, 54);
  height: 120px;
}

.mainFeed {
  background-color: rgb(47, 49, 54);
  height: 100vh;
}

.linkedInNews {
  background-color: rgb(41, 43, 47);
  height: 320px;
}

.moreInfo {
  /* display: flex; */
  flex-wrap: wrap;
  text-align: center;
  line-height: 2;
}

.moreInfo a {
  text-decoration: none;
}
