* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  list-style-type: none;
}

img {
  background-color: rgb(29, 34, 38);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: rgb(29, 34, 38);
  margin-bottom: 30px;
  color: white;
}

nav {
  background-color: transparent;
  width: 1070px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

.primaryNavItem a,
.primaryNavItem a span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav * {
  background-color: transparent;
}

nav span {
  color: white;
}

.container {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.leftAsideSection,
.mainSection,
.rightAsideSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.leftAsideSection div,
.mainSection div,
.rightAsideSection div {
  border-radius: 10px;
}

.leftAsideSection {
  width: 225px;
}

.mainSection {
  width: 540px;
}

.rightAsideSection {
  width: 315px;
}

.userProfile {
  background-color: rgb(29, 34, 38);
  height: 370px;
}

.userCompany {
  background-color: rgb(29, 34, 38);
  height: 150px;
}

.createNewPost {
  background-color: rgb(47, 49, 54);
  height: 120px;
}

.mainFeed {
  background-color: rgb(47, 49, 54);
  height: 100vh;
}

.linkedInNews {
  background-color: rgb(41, 43, 47);
  height: 320px;
}

.moreInfo {
  padding-top: 10px;
  margin: 0 27.5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  line-height: 0.5;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: rgb(133, 133, 133);
}

@media screen and (max-width: 1000px) {
  .rightAsideSection {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .leftAsideSection {
    display: none;
  }
}
